*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero {
    background-color: rgba(163, 163, 163, 0.918);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30vh;

    @media (min-width: 720px) {
      width: 100%;
    }

    .title1 {
      font-size: 3em;
      padding-bottom: 2vh;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(199, 199, 199, 0.815);
    margin-top: 3vh;

    @media (min-width: 720px) {
      flex-direction: row;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 30vh;
      width: 80%;
      border-radius: 5%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin-top: 5vh;
      margin-bottom: 2vh;

      @media (min-width: 720px) {
        margin: 5vh;
        background-color: greenyellow;
      }

      img {
        height: 60%;
      }
    }
  }
}
